body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

dl,
dd {
    margin: 0;
}

strong,
b {
    font-weight: normal;
}

em,
i {
    font-style: normal;
}

input,
textarea {
    outline: none;
}

textarea {
    resize: none;
}

img {
    vertical-align: top;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.clearfix {
    *z-index: 1
}

a {
    text-decoration: none;
    color: black;
}

.brick-item li:hover,
.brick-item-other:hover {
    cursor: pointer;
    z-index: 2;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}